
body{
	padding-top: 50px;
	padding-bottom:20px;
}
#multiple{
	text-color:gray;
}

#signin{
	text-align:left;
}
.btn{
	color: blue;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:10px;
	padding-right:10px;
}
.box{
	text-align:left;
	text-color:white;
}

